<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVIGATION</li>
      <!-- Optionally, you can add icons to the links -->
      <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li><a href="/vba/unauthorized"><i class="fa fa-dashboard"></i> <span>Unauthorized VBA</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>