<% var page_title = 'EPIAPI Admin | Dashboard'; %>
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include ../partials/header %>
  <% include ../partials/left-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Dashboard</h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <% include ../partials/message-container %>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-account %>
        </div>
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-transaction %>
        </div>
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-transfer %>
        </div>
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <% include ../includes/_form/search-wallet %>
        </div>
        <div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
          <form class="form-inline" action="/funds/add" method="POST">
            <div class="form-group">
              <label class="sr-only" for="amount">Amount</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input required type="text" class="form-control only-number" id="amount" placeholder="Amount" name="amount">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="srn">Identity</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input required type="text" class="form-control" id="srn" placeholder="SRN, ex: account:XXX" name="srn">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Transfer cash</button>
          </form>
        </div>
      </div>
      <div class="row">
        <% if (listAccount.items.length > 0) { %>
        <div class="col-md-12">
          <%- include('../includes/_table/accounts', { listAccount: listAccount, useDataTablePaging: true }) %>
        </div>
        <% } %>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/footer %>
</div>
<!-- ./wrapper -->

<% include ../partials/foot %>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>