<% var page_title = 'EPIAPI Admin | Daily withdraw transfers'; %>
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include ../partials/header %>
  <% include ../partials/left-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Daily withdraw transfers</h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <% include ../partials/message-container %>
      <div class="row">
        <% if (transfers.length > 0) { %>
        <div class="col-md-12">
          <%- include('../includes/_table/withdrawTransfer', { transfers: transfers }) %>
        </div>
        <% } %>
      </div>
    </section>
    <!-- /.content -->

    <div class="modal fade" id="withdraw-transfer-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/withdraw/transfer/create" method="POST">
            <input type="hidden" name="id" value="">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit withdraw transfer</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="source">source</label>
                  <input type="text" required id="source" name="source" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="dest">dest</label>
                  <input type="text" required id="dest" name="dest" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="destAmount">destAmount</label>
                  <input type="text" required id="destAmount" name="destAmount" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="callbackUrl">callbackUrl</label>
                  <input type="text" required id="callbackUrl" name="callbackUrl" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="message">message</label>
                  <input type="text" required id="message" name="message" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="sourceCurrency">sourceCurrency</label>
                  <input type="text" required id="sourceCurrency" name="sourceCurrency" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="destCurrency">destCurrency</label>
                  <input type="text" required id="destCurrency" name="destCurrency" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="fee">fee</label>
                  <input type="text" id="fee" name="fee" class="form-control" value="">
                </div>
                <div class="form-group col-md-12">
                  <label for="feeDest">feeDest</label>
                  <input type="text" id="feeDest" name="feeDest" class="form-control" value="">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit and create</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
  <!-- /.content-wrapper -->

  <% include ../partials/footer %>
</div>
<!-- ./wrapper -->

<% include ../partials/foot %>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
<script>
$('.content').on('click', '.open-edit-withdraw-modal', function(e) {
  var _transfer = $(this).data('transfer');
  var _target = $(this).data('target');
  var _modal = $(_target);
  _modal.find('[name=id]').val(_transfer.id);
  _modal.find('[name=source]').val(_transfer.source);
  _modal.find('[name=dest]').val(_transfer.dest);
  _modal.find('[name=callbackUrl]').val(_transfer.callbackUrl);
  _modal.find('[name=message]').val(_transfer.message);
  _modal.find('[name=destAmount]').val(_transfer.destAmount);
  _modal.find('[name=sourceCurrency]').val(_transfer.sourceCurrency);
  _modal.find('[name=destCurrency]').val(_transfer.destCurrency);
  _modal.find('[name=message]').val(_transfer.message);
  _modal.find('[name=fee]').val(_transfer.fee);
  _modal.find('[name=feeDest]').val(_transfer.feeDest);
})

$('.content').on('click', '.bulk-transfer-chk', function(e) {
  var _isChecked = $(this).is(':checked');
  var _target = $('.form-bulk-create-tranfers input[value=' + $(this).val() + ']');
  if (_isChecked && !_target.is(':checked')) _target.click();
  if (!_isChecked && _target.is(':checked')) _target.click();
})

$('.content').on('click', '.toggle-select-all-withdraw', function(e) {
  e.preventDefault();
  var _text = $(this).text();
  if (_text === 'Select all') {
    $(this).text('Deselect all');
    $('.bulk-transfer-chk:not(:checked)').click();
  } else {
    $(this).text('Select all');
    $('.bulk-transfer-chk:checked').click();
  }
})
</script>
</body>
</html>